    * {
    margin: 0;
    padding: 0;
    }


    .widget {
    width: 660px;
    margin: 0px;
    padding: 0px;
	border-radius: 10px;
	position: relative;
	top: -27px;
	
    }

    .widget a {
    color: #222;
    text-decoration: none;
    }

    .widget a:hover {
    color: #009;
    text-decoration: underline;
    }

    .tabnav li {
    list-style: none;
	margin-right: 1px;
	height: 100%;
	width: 100%;
	left: 120px;
	bottom: -4px;
	
    }

    .tabnav li a {
    text-decoration: none;
	font-weight: normal;
    
    font-size:18px;
   font-family: 'Century Gothic', sans-serif;
	color: #FFFFFF;
    outline: none;
    height: 100%;
    width: 50px;
    border-style:none;
	border-width:1px;
	border-color:#333333;
	border-radius: 10px 10px 0px 0px;
	padding: 3px;
	background-color: #DA008A;
	 background: -moz-linear-gradient(90deg,#383838,#A09C9C);
   
    }

    .tabnav li a:hover, .tabnav li a:active, .tabnav li.ui-tabs-selected a {
    background: #FFFFFF;
    color: #171717;
    text-decoration: none;
    height: 100%;
    width: 100%;
    border-style:none;
    border-radius: 10px 10px 0px 0px;
   
    }
    
    .tabnav {
    	height: 25px;
    	
    	
    }

    .tabdiv {
    margin-top: 2px;
    background: #FFFFFF;
    color: #171717;
    padding: 5px;
    height: 100%;
	border-radius: 10px;
    }

    .ui-tabs-hide {
    display: none;
    }
