<script id="_homeMenu" type="text/template">
	<div id="homeMenu"  class="menu">
	<ul id="slider-container">
		<li><div class="imgContainer"><img src="images/slides/1.png" /></div></li>
	<li><div class="imgContainer"><img src="images/slides/2.png" /></div></li>
	</ul>
	<div id="blog" class="main-text-format wordBoxContainer">
		
	</div>
	</div>
</script>

<script id="_blogPost" type="text/template">
	<div class="post text-paper">
				<p class="date" style="font-style:italic;" align="left">
					<%- post.date %>
				</p>
				<p class="header">
					<% if (post.imageURL){ var mysrc = 'images/' + post.imageURL;%><img class="post-image" src="<%print(mysrc)%>" /><%}%><%- post.header %>
				</p>
				<div class="body">
					
				</div>	
				</p>
			
			</div>
				<div class="seperator" />
</script>

<script id="_classesMenu" type="text/template">
	<div id="classesMenu" class="menu">

	<div>
	<% print(render().programInfo(classes)); %>
	</div>
	</div>
</script>

<script id="_teamsMenu" type="text/template">
	<div id="teamsMenu" class="menu">
	<% print(render().programInfo(teams)); %>
	</div>
</script>

<script id="_hiringDetailsMenu" type="text/template">
	<div id="hiringDetailsMenu" class="menu">
		<img src="images/hiring.jpg" />
		<div class="text-paper">
			<span class="main-emphasis">Current Open Positions</span> 
			<a href="res/data/flipcity-application.pdf" class="primary-link">Download an application!</a>
			<div>
				<p class="info">Minimum commitment is only <span class="bold">1 day per week!</span></p>
			</div>

			<div>
				<p class="bold">Available Shifts</p>
			</div>
			<div><p>Weeknights 4pm - 8pm</p></div>
			<div><p>Saturdays 8am - 3pm</p></div>
		</div>

		<div class="text-paper">
			<p class="bold">Instructor</p>
			<p class="bold">$9-12 per hour!</p>
			<p>We are happy to offer positions for Gymnastics Instructors!  We're looking for individuals with a passion for working with small groups of children and the ability to lead them through gymnastics exercises and drills.  We're looking for individuals age 15 and over with some familiarity with gymnastics (cartwheels, handstands, etc).  This position provides opportunities to improve coaching and leadership skills from beginning gymnastics through USAG level 5!
			</p>
		</div>

		<div class="text-paper">
			<p class="bold">Assistant Instructor</p>
			<p class="bold">$8 per hour!</p>
			<p>We are happy to offer positions for Assistant Gymnastics Instructors!  We're looking for individuals ages 14 and up to assist with classes.  This starting position provides opportunities to learn coaching and leadership skills from beginning gymnastics through USAG level 5!
			</p>
		</div>
 	</div>
</script>

<script id="_faqsMenu" type="text/template">
	<div id="faqMenu" class="menu wordBoxContainer">
		<div id="faq-questions">
			<div class="text-paper">
			<p class="header">
			How do I sign up for a class?
			</p>
			<p>
			To register online, click on "Login/Register" in the top right hand corner.  On the Login page, click on "New Account".  Enter your information in the fields provided and click "Continue" at the bottom.
			</p>
		
			<p>
			Once logged in, click "Find A Class" on the left to see the class schedule.  Use the drop-down filters to adjust which classes are shown.  Click "Submit Request" next to your chosen class to register.  You will receive a confirmation email when we've processed your request.  If you do not receive a confirmation within two business days please call or email to confirm that your request was received.		</p>
			<p>
			You may also register by calling the gym at 608-834-1444 or emailing <a class="primary-link" href="mailto:info@flipcity.biz">info@flipcity.biz</a>.  We will need your first and last name, your child's first and last name, your address, your phone number, and your child's date of birth.  A waiver must be signed on or before the first day of class by a legal parent or guardian.		</p>
				</div>
				<div class="text-paper">
					<p class="header">
						How does enrollment work?
					</p>
					<p><b>TRIAL CLASS:</b>  Flip City offers one free trial class per new student. Please schedule in advance. Students must meet age and skill mastery requirements for the desired trial class.  When in doubt, a student should trial a class that may be too easy rather than a class that may be too advanced.</p>

					<p><b>MONTHLY TUITION:</b>  Tuition is due by the 1st day of each month.  Tuition will be prorated when less than 4 classes are offered in a month due to holidays or other closures.</p>

					<p><b>ENROLL ANYTIME:</b>  We prorate the first month’s tuition based on when you start class.</p>

					<p><b>AUTOPAYMENT:</b>  A credit card may be kept on file for autopayment. Monthly tuition reminders will NOT be sent. We will notify you by email if your tuition is unable to process. Declined payments (expired card, etc.) must be remedied on or before the 10th day of the month or you risk losing your class spot to a waiting student.</p>

					<p><b>MANUAL PAYMENT:</b>  You may pay tuition using a credit or debit card online through our parent portal or using cash, check, or a card at the gym.  Monthly tuition reminders will NOT be sent. We will notify you by email if your tuition is not received by the 1st class of the month.  Missed payments not remedied by the 7th day of the month may result in losing your class spot to a waiting student.</p>
				</div>
				<div class="text-paper">
					<p class="header">
						What should I expect to be prepared for class?
					</p>
					<p><b>ATTIRE:</b>  Gymnasts should wear a one-piece leotard and shorts.  No skirts, bra tops, or jewelry.  Students practice barefoot.  If student does not have a leotard, soft, tight-fitting athletic attire without buttons or zippers should be worn.  Long hair must be tied back.</p>

					<p><b>ARRIVAL & PICKUP:</b>  Students should arrive no earlier than 10 minutes prior to class and wait on the green floor in the class waiting area.  Please supervise your child until class begins.  Students must be picked up immediately upon class dismissal.</p>
				</div>
				<div class="text-paper">
					<p class="header">
						How do I unenroll or change a class?
					</p>
					<p><b>CHANGING CLASSES:</b> You may change class day, time, or program at any time during enrollment as long as there is room in the desired class and the student has mastered the prerequisite skills. Tuition increases could apply. No refunds will be given when transferring an enrollment.  Your tuition will simply be transferred to the new class or program.</p>

					<p><b>UN-ENROLLING:</b> To un-enroll from class, submit your request through the online parent portal, via email, or complete a paper form at the front desk.  Upon receiving your request, we will update your enrollment accordingly.  No refunds or credits will be issued for pre-paid or missed classes.</p>

					<p><b>SCHEDULE CHANGES:</b>  We reserve the right to change, combine, or cancel classes based on enrollment. We will contact you if this situation should arise and work with you to find another class. A refund for pre-paid future classes will be granted if your class is changed to a new time or cancelled and we cannot find a class time that works with your schedule.</p>
				</div>
				<div class="text-paper">
					<p class="header">
						How do you handle absences?
					</p>
					<p><b>MISSED CLASSES:</b>  Upon enrolling, we reserve your spot in class.  We cannot grant refund or credit requests made after the missed classes have occurred.</p>

					<p><b>MAKEUP CLASSES:</b>  Students are allowed one makeup class per month. Availability of a makeup class is not guaranteed. Only classes of the same level with an open spot may be used. Makeup classes must be scheduled in advance through the parent portal or by contacting the front desk staff.</p>

					<p><b>MEDICAL ABSENCE:</b>  If a student will be missing classes due to injury or illness, a prorated credit will be issued based upon the date we were notified. (Credit requests made after the classes have occurred eliminate our opportunity to fill a vacated class spot).</p>
				</div>
			<div class="text-paper">
			<p class="header">
			Do you have foam pits?
			</p>
			<p>
			No - Due to the increased risk, required maintenance, and resources needed to construct a pit, we have chosen not to incorporate them at this time.		</p>
			
			</div>
			<div class="text-paper">
			<p class="header">
			When will the gym close due to weather?
			</p>
			<p>
			Flip City Gymnastics classes and events will be canceled when the Sun Prairie schools close, release students early, or cancel evening events due to weather. Please check our home page for cancellation information.		</p>
			</div>
			<div class="text-paper">
			<p class="header">
			Do you have directions to the gym?
			</p>
			<p>
				From Hwy 151, go east on Reiner Rd, turn right on O"Keeffe Ave, left on Cremer Dr., right on Capitol Dr., right on Terra Ct., and we are at the end of the cul-de-sac.		</p>
		</div>
		</div>
	</div>
</script>
<script id="_aboutUsMenu" type="text/template">
	<div id="aboutUsMenu" class="menu">
		<div class="text-paper">
		<p class="main-emphasis t-center">
			Flip City's Mission
		</p>
		<p>
			Flip City Gymnastics aims to promote growth and learning through the process and experience of gymnastics training.  Students develop a strong work ethic with an ability to set and reach goals.  Gymnasts are taught and expected to show respect and compassion toward themselves, their peers, and their coaches.
		</p>
	</div>
		<div class="platform bio bio-font">
			<div class="container">
				<img src="images/image-katie-h.jpg" />
				<div class="caption">
					Katie Wertsch Hollinger, Owner
				</div>
			</div>
			<div class="bio-text">
				Katie holds a Bachelor’s degree from the University of Wisconsin - Madison in Communication Arts and an associate degree from Madison College in Recreation Management.  She taught tumbling classes for Madison Schools &amp; Community Recreation and DeForest Parks &amp; Recreation, and she coached gymnastics classes at Badger Gymnastics Academy and Madison Turners.  Most recently, she worked as the Recreation Director at Madison Turners through January 2012.  She is a certified USA Gymnastics Junior Olympic team coach.
				
			</div>
			<div id="motivation">
				<p class="main-emphasis">
			My Motivation
		</p>
		<p>
			I was introduced to gymnastics in 1996 watching the Magnificent Seven win the first ever Gold Medal for the United States in the Women's Team Competition at the Atlanta Olympics.  I watched these young girls who were focused and dedicated to the most amazing, beautiful sport I had ever seen and I instantly wanted to be like them.  Their achievements made me realize that I didn't have to wait until I reached adulthood to do great things.  I likely would never go to the Olympics, but I was plenty capable of being strong, focused, and disciplined like the girls I watched on television.
		</p>
		<p>
			Once I started learning gymnastics, I did everything I could to get better at it as quickly as possible.  At 10 years old, I was doing 300 sit-ups and 100 pushups each night, not because anyone told me to but because I wanted to get better at gymnastics.  I had something to work for.  I had a reason to do more than watch television all summer.  Soon enough, I was showing off back walkovers and front handsprings to my family and friends.  I realized that I could do skills that most other people, adults included, could not.  I gained a confidence that I had not had before.  Each skill I mastered gave me one more accomplishment of which I could be proud.  I saw where hard work could lead me and that lesson motivated me throughout adolescence, college, and into adulthood.
		</p>
		<p>
			This is what I strive to teach kids every day.  Being young does not mean being incapable of doing great things.  Through gymnastics, kids learn to set and achieve goals.  Each skill mastered is a tangible accomplishment through which they can see their progress and develop confidence in their ability to achieve whatever goals they may choose in life.
		</p>
			</div>
		</div>
	</div>
</script>
<script id="_workshopsMenu" type="text/template">
	<div id="workshopsMenu" class="menu">
		<div class="text-paper">
		<p class="main-emphasis t-center">
			Summer workshops are here!
		</p>
		<p>
			<a class="primary-link" href="https://www.iclassprov2.com/parentportal/flipcity/camps?camptype=6">
			Click here and log in to sign up!
			</a>
		</p>
		<p style="text-decoration:underline;">
			Mondays
		</p>
		<p style="font-weight:bold">
			Dance for Gymnastics
		</p>
		<p>
			<i>2:00-3:00pm</i> Learn leaps, jumps, turns, and other non-acrobatic elements on floor and beam!
		</p>
		<p style="font-weight:bold">
			Strength for Gymnastics
		</p>
		<p>
			<i>3:00-4:00pm</i> Improve strength and endurance for skills on all gymnastics apparatuses!
		</p>
		<br>
		<p style="text-decoration:underline;">
			Thursdays
		</p>
		<p style="font-weight:bold">
			Level 1/2 Bars & Beam
		</p>
		<p>
			<i>2:00-3:00pm</i> Work on beginner uneven bars & balance beam skills and strength.
		</p>
		<p style="font-weight:bold">
			Level 3/4 Bars & Beam
		</p>
		<p>
			<i>3:00-4:00pm</i> Work on intermediate uneven bars & balance beam skills and strength.
		</p>
	</div>
</script>
<script id="_openGymMenu" type="text/template">
	<div class="menu">
		<img src="images/opengym.jpg" />
		<div class="text-paper">
		
		<p class="main-emphasis t-center">
			Open Workshop
		</p>
		<p >
			The gym is open at this time for gymnasts ages 6 - 17 to practice skills and work out.  To help prevent accidents, horseplay will not be allowed.  Parent supervision is not required.
		</p>
		<p style="font-weight: bold">
			 Fridays 6-8pm<br/>
             $10 per Person
		</p>
		</div>
	</div>
</script>
<script id="_birthdaysMenu" type="text/template">
	<div id="birthdayMenu" class="menu">
	<img src="images/birthday.jpg" />
	<div class="text-paper">
	<p class="main-emphasis t-center">
		Birthday Parties
	</p>
	<p>
		We provide the plates, napkins, cups, forks, and fun!  You bring the kids and the cake! Please email <a href="mailto:info@flipcity.biz" class="primary-link">info@flipcity.biz</a> to register.
	</p>
	<p>
 		Parties will begin with 60 minutes of play time in the gym led by a Flip City staff member, followed by 30 minutes in the party room for cake and presents.
	</p>
	<p style="font-weight: bold">
		$160 for up to 10 kids / $10 per additional child.
	</p>
	<p style="font-style: italic">
		Currently enrolled students receive a 15% discount
	</p>
</div>
	</div>
</script>
